
<header>
	<div id="logo"><img src="img/logo.png" /></div><!--end of logo-->
	<div id="title"><h1><%= title %></h1></div><!--end of title-->
	<div id="login">
		<% if(userFullName) { %>
		<h2>Log In Works, <%=userFullName%></h2>
		<a href="/signout">Sign Out</a>
		<%} else{%>
		<a href="/signup" class="signs">Sign Up</a>
		<a href="/signin" class="signs">Sign In</a>
		<%}%>
	</div><!--end of login-->
</header><!--end of header-->
<nav>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Testimonials</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>
