<!--changed so log out shows up if loged in--> 

<div id="logo"><img src="img/logo.png" /></div><!--end of logo-->
<div id="title"><h1><%= title %></h1></div><!--end of title-->
<div id="login">
      <% if(userFullName) { %>
            <h2>Welcome, <%=userFullName%></h2>
            <a href="/signout">Sign Out</a>
           <%} else{%>
            <a href="/signup">Sign Up</a>
            <a href="/signin">Sign In</a>
        <%}%>
</div><!--end of login-->


