
<!-- changed show logout shows up when loged in -->
<header>
	<div id="logo"><img src="img/logo.png" /></div><!--end of logo-->
	<div id="title"><h1><%= title %></h1></div><!--end of title-->
	<div id="login">
<div id="login">
      <% if(userFullName) { %>
            <h2>Welcome, <%=userFullName%></h2>
            <a href="/signout">Sign Out</a>
           <%} else{%>
            <a href="/signup">Sign Up</a>
            <a href="/signin">Sign In</a>
        <%}%>
	</div><!--end of login-->
</header><!--end of header-->
<nav>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Testimonials</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>
