<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchProduct">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Product App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>
	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

	<!--slideshow-->
     <link rel="stylesheet" href="../css/responsiveslides.css">
  <!--<link rel="stylesheet" href="demo.css">-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="../js/responsiveslides.min.js"></script>
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {

      // Slideshow 1
      $("#slider1").responsiveSlides({
        maxwidth: 1200,
        speed: 800
      });
    });
</script>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">

<section id="wrapper">
<!-- how to check if someOne is loged in 
<p> See index.ejs line ~33 for how to check if the user is loged in in ejs </p>

<% if(userFullName) { %>
<p> you are loged in </p>
<%} else{%>
<p> No One is loged in </p>
<%}%>
--> 
<header>
	<% include header %>
</header>
<nav><% include nav %></nav>
<section id="content">
<section id="slideshow">
	<ul class="rslides" id="slider1">
		<img src="img/slide.jpg" />
		<img src="img/slide2.jpg" />
	</ul>
</section><!--end of slideshow-->
<section id="top_row">
	<div class="top_img"><img src="img/im1.jpg" /></div><!--end of top_img-->
	<div class="top_img"><img src="img/img2.jpg" /></div></div><!--end of top_img-->
	<div class="top_img"><img src="img/img3.jpg" /></div></div><!--end of top_img-->
	<div class="top_img"><img src="img/img4.jpg" /></div></div><!--end of top_img-->
</section><!--end of top_row-->
<section id="bottom_row">
	<div class="bot_img"><img src="img/img5.jpg" /></div></div><!--end of bot_img-->
	<div class="bot_img"><img src="img/img6.jpg" /></div></div><!--end of bot_img-->
	<div class="bot_img" id="testim"><p><span class="tes"><img src="img/testimo.jpg" align="left" /></span> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p></div><!--end of bot_img-->
</section><!--end of bottom_row-->
       
<!--        <section>
            <input type="text" id="text1" ng-model="name">
            <input type="text" id="text2" ng-model="name">
        </section> -->
    
           <div id="stuff_to_move">
            <!-- image demo showing how to add images from a file --> 

            <p>you can upload a image from a file or url see line ~61</p>
           <img src="img/traincube-logo.png" alt="Logo" width="900px" height="200px">


	<div class="container">

		<!-- HEADER AND Products COUNT -->
		<div class="jumbotron text-center">
			<h1>Product Tester <span class="label label-info">{{ products.length }}</span></h1>
		</div>

		<!-- Products LIST -->
		<div id="product-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				

				<!-- LOOP OVER THE Products IN $scope.products -->
				<div class="checkbox" ng-repeat="product in products">
					<label>
						<p> {{product.name}}</p>
						<p> {{product.price}}</p>
						<p> {{product.text}}</p>
						<img src="{{product.photo}}"> 
						<p>{{product._id}}</p>
						<p>{{product.category}}</p>
						<input type="checkbox" ng-click="deleteProduct(product._id)"> 
						<!-- {{ product.text }} -->
					</label>
				</div>

<!-- 				<div ng-repeat="product in products">
					<ol>
						<li>{{product.name}} </li>
						<li>{{product.price}}</li>
						<li>{{product.text}}<li>
						<li>{{product._id}}</li>
						<li><img src="{{product.photo}}"></li>
					</ol>	
				</div> -->

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<!-- FORM TO CREATE Products -->
		<div id="product-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<!-- Temp simple way of adding data will not be used -->
						<input type="name" class="form-control input-lg text-center"  placeholder="Name" ng-model="formData.name">

						<input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="formData.text">

						<input type ="text" class="form-control input-lg text-center" placeholder="Price"  ng-model="formData.price">

						<input type ="text" class="form-control input-lg text-center" placeholder="Photo"  ng-model="formData.photo">
					</div>

<!-- 
		<div ng-controller="ExampleController">
 				 <form novalidate class="simple-form">
    				Name: <input type="text" ng-model="user.name" /><br />
    				E-mail: <input type="email" ng-model="user.email" /><br />
   			 		Gender: <input type="radio" ng-model="user.gender" value="male" />male
   					<input type="submit" ng-click="update(user)" value="Save" />
  				</form>
  			<pre>form = {{user | json}}</pre>
  			<pre>master = {{master | json}}</pre>
		</div> -->

					<!-- createProducts() WILL CREATE NEW Products -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createProducts()">Add</button>
				</form>
			</div>
		</div>

		<div class="text-center text-muted">
<!-- 			<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
			<p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-product-app-with-node-and-angular">tutorial</a>.</p> -->
		</div>

	</div>
</div><!--end of stuff_to_move-->

</section><!--end of content-->
<footer>
	<p>&amp;Copyright</p>
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
