
<nav>
	<ul>

		<li><a href="/">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="/product">Products</a></li>
		<li><a href="test">Testimonials</a></li>
		<li><a href="con">Contact</a></li>
	</ul>
</nav>
