<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchProduct">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Product App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>

	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

	<!--slideshow-->
     <link rel="stylesheet" href="../css/responsiveslides.css">
  <!--<link rel="stylesheet" href="demo.css">-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="../js/responsiveslides.min.js"></script>
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {

      // Slideshow 1
      $("#slider1").responsiveSlides({
        maxwidth: 1200,
        speed: 800
      });
    });
</script>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">

<section id="wrapper">
<!-- how to check if someOne is loged in 
<p> See index.ejs line ~33 for how to check if the user is loged in in ejs </p>

<% if(userFullName) { %>
<p> you are loged in </p>
<%} else{%>
<p> No One is loged in </p>
<%}%>
--> 
<header>
	<% include header %>
</header>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html >
<head>
<body>
	<p> This page works</p>
	<p> Name <%= product.name %> </p>
	<p> Price <%=product.price %> </P>
	<p><img src="<%=product.photo%>"> </p>
	<p> description <%=product.text%></p>
	<p> add the new ejs page to views </p>
	<p>for a new page add new function to user.server.controller</p>
	<p> add a new route to user.server.routes</p>
	<p> note  userFullName: req.user ? req.user.fullName : '' has to be added to controller for log in checking </p>
</body>
</html>
